/* variables */
:root{
    --primClr: #3F9CE6;
    --secClr: #005CEF;
    --accClr: #F3774B;

    --primfntClr: #1B1464;
    --secfntClr: #00D1F0;
}



/* commone style  */
@font-face {
    font-family: 'LuckiestGuys';
    src: url(./font/LuckiestGuy-Regular.ttf);
}

.d-none{
    display: none !important;
}

.menuBtn{
    cursor: pointer;
    background-color: var(--primClr);
    color: var(--primfntClr);
    border: none;
    padding: 15px 50px;
    border-radius: 10px;
    font-family: 'LuckiestGuys';
    width: 250px;
    border: 1px solid transparent;
}

.menuBtn:hover {
    background-color: var(--secClr);
    color: var(--secfntClr);
    border: 1px solid var(--accClr);
}

.gameBtn{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border: none;
    background-color: white;
}

.gameBtn:hover{
    background-color: var(--accClr);
}

/* page */
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'LuckiestGuys';
    margin: 0;
    height: 100vh;
    width: 100vw;
}


#gameWindow {
    position: relative;
    width: min(1200px,100vw);
    height: min(600px,100vh);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}


#gameScreen{
    position: relative;
    width: min(1200px,100%);
    height: min(600px,100%);
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    touch-action: none;
    background-color: black;
}

#gameCanvas{
    border-radius: 20px;
    max-width: 100%;
    max-height: 100%;
}

#gameBtnGroupMenu{
    position: absolute;
    right: center;
    top: 20px;
    display: flex;
    gap: 60px;
}




#muteBtn{
    mask-image: url('./img/07_icons/sound-on.svg'); 
    mask-size: contain; 
    -webkit-mask-image:url('./img/07_icons/sound-on.svg');  
    -webkit-mask-size: contain; 
}

#fullscreenBtn{
    mask-image: url('./img/07_icons/fullscreen-on.svg'); 
    mask-size: contain;
    -webkit-mask-image:url('./img/07_icons/fullscreen-on.svg'); 
    -webkit-mask-size: contain;
}

#menuBtn{
    mask-image: url('./img/07_icons/menu.svg'); 
    mask-size: contain; 
    -webkit-mask-image:url('./img/07_icons/menu.svg');  
    -webkit-mask-size: contain; 
}

#joystick{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 40%;
    left: 20px;
    bottom: 20px;
    background-color: var(--accClr);
}

#gameBtnGroupCtrl{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.15);
    border-top-left-radius: 80%;
}

#gameBtnGroupCtrl button{
    position: absolute;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: 1px solid var(--accClr);
}

#gameBtnGroupCtrl button.playAnimation{
    animation-name: gameBtnAnimation;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
}

@keyframes gameBtnAnimation {
    50% {transform: scale(0.6);}
}


#slapAttackBtn{
    left: 10px;
    bottom: 10px;
    background-image: url('./img/01_Sharkie/4_Attack/FinSlap/5.png');
    background-size: cover;
    background-position: 0% 100%;
    background-color: var(--secfntClr);
}

#bubbleShotAttackBtn{
    left: 50px;
    bottom: 90px;
    background-image: url('./img/01_Sharkie/4_Attack/BubbleTrap/op1_normalBubble/7.png');
    background-size: cover;
    background-position: 0% 100%;
    background-color: var(--secClr);
}

#bubbleChangeBtn{
    right: 10px;
    top: 10px;
    background-image: url('./img/01_Sharkie/4_Attack/BubbleTrap/PoisonedBubble.png');
    background-size: cover;
    background-position: 50% 50%;
    background-color: var(--primfntClr);
    background-size: 50%;
    background-repeat: no-repeat;
}

#startScreen,
#pauseScreen{
    width: min(1200px,100%);
    height: min(600px,100%);
    background-image: url('./img/06_Menu/Menubackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border-radius: 20px;
}


#overlay{
    position: absolute; 
    background-color: rgba(120, 120, 120, 0.8);
    width: min(1200px,100vw);
    height: min(600px,100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

#ovlyCloseBtn{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    mask-image: url('./img/07_icons/close.svg'); 
    mask-size: contain; 
    -webkit-mask-image:url('./img/07_icons/close.svg');  
    -webkit-mask-size: contain; 
}

#ovlyCard{
    position: relative;
    box-sizing: border-box;
    width: 70%;
    height: 90%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primClr);
    border-radius: 20px;
    font-size: 30px;
}


#settingsTable{
    width: 100%;
    border-spacing: 1px 30px;
}


#settingsTable td{
    text-align: center;
    vertical-align: middle;
}

#settingsTable td:nth-child(odd){
    width: 25%;
}


.setElementImg{
    background-color: var(--accClr);
    border-radius: 10px;
    width: 40px;
    height: 40px;
    margin: 2px 1px;
}


#setElementMobileCtrlImg{
    width: 100px;
    height: 100px;
    object-fit: contain;
}


.setElementMobileImg{
    background-color: var(--secClr);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: 0% 100%;
}


#setWrapperDifficultyChoices{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#setWrapperDifficultyChoices img{
    cursor: pointer;
    border-radius: 20px;
    background-color: transparent;
    transition: all 100ms ease-in-out;
}

#setWrapperDifficultyChoices img:hover{
    background-color: var(--secClr) !important;
    transition: all 100ms ease-in-out;
}

.diff-active{
    background-color: var(--accClr) !important;
}

#loadingBarFrame{
    position: relative;
    width: 100%;
    border: 2px solid var(--accClr);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
}

#loadingBar{
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primfntClr);
    width: 0%;
    height: 100%;
    border-radius: 5px;
}

#loadingBarText{
    position: relative;
    color: black;
    font-size: 20px;
}