/* variables */
:root{
    --primClr: #3F9CE6;
    --secClr: #005CEF;
    --accClr: #F3774B;

    --primfntClr: #1B1464;
    --secfntClr: #00D1F0;
}



/* commone style  */
@font-face {
    font-family: 'LuckiestGuys';
    src: url(./font/LuckiestGuy-Regular.ttf);
}

.menuBtn{
    cursor: pointer;
    background-color: var(--primClr);
    color: var(--primfntClr);
    border: none;
    padding: 15px 50px;
    border-radius: 10px;
    font-family: 'LuckiestGuys';
    width: 250px;
    border: 1px solid transparent;
}

.menuBtn:hover {
    background-color: var(--secClr);
    color: var(--secfntClr);
    border: 1px solid var(--accClr);
}



/* page */
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'LuckiestGuys';
    margin: 0;
}



#gameWindow {
    position: relative;
    background-image: url('./img/06_Menu/Menubackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    width: min(1200px,100vw);
    height: min(600px,100vh);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}


#gameScreen{
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    touch-action: none;
}

#gameCanvas{
    border-radius: 20px;
    max-width: 100%;
    max-height: 100%;
    
}

#gameBtnGroupMenu{
    position: absolute;
    right: 20px;
    top: 20px;
}

#joystick{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 40%;
    left: 20px;
    bottom: 20px;
    background-color: var(--accClr);
}

#gameBtnGroupCtrl{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.15);
    border-top-left-radius: 80%;
}

#gameBtnGroupCtrl button{
    position: absolute;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: 1px solid var(--accClr);
}

#slapAttackBtn{
    left: 10px;
    bottom: 10px;
    background-image: url('./img/01_Sharkie/4_Attack/FinSlap/5.png');
    background-size: cover;
    background-position: 0% 100%;
    background-color: var(--secfntClr);
}

#bubbleShotAttackBtn{
    left: 50px;
    bottom: 90px;
    background-image: url('./img/01_Sharkie/4_Attack/BubbleTrap/op1_normalBubble/7.png');
    background-size: cover;
    background-position: 0% 100%;
    background-color: var(--secClr);
}

#bubbleChangeBtn{
    right: 10px;
    top: 10px;
    background-image: url('./img/01_Sharkie/4_Attack/BubbleTrap/PoisonedBubble.png');
    background-size: cover;
    background-position: 50% 50%;
    background-color: var(--primfntClr);
    background-size: 50%;
    background-repeat: no-repeat;
}

#startScreen,
#pauseScreen{
    position: absolute;
    right: 20%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}


#overlay{
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(120, 120, 120, 0.8);
    width: min(1200px,100vw);
    aspect-ratio: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

#ovlyCard{
    width: 50%;
    height: 90%;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.d-none{
    display: none !important;
}